__pycache__/__init__.cpython-38.pyc
__pycache__/__init__.cpython-39.pyc
__pycache__/backgrounds.cpython-38.pyc
__pycache__/backgrounds.cpython-39.pyc
__pycache__/binning.cpython-38.pyc
__pycache__/binning.cpython-39.pyc
__pycache__/config.cpython-38.pyc
__pycache__/config.cpython-39.pyc
__pycache__/data.cpython-38.pyc
__pycache__/data.cpython-39.pyc
__pycache__/densities.cpython-38.pyc
__pycache__/extraction.cpython-38.pyc
__pycache__/extraction.cpython-39.pyc
__pycache__/koe.cpython-38.pyc
__pycache__/masking.cpython-38.pyc
__pycache__/masking.cpython-39.pyc
__pycache__/medians.cpython-38.pyc
__pycache__/modelling.cpython-38.pyc
__pycache__/modelling.cpython-39.pyc
__pycache__/profiles.cpython-38.pyc
__pycache__/sims.cpython-38.pyc
.idea/.gitignore
.idea/galprime_new.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
galprime/__pycache__/__init__.cpython-39.pyc
galprime/__pycache__/backgrounds.cpython-39.pyc
galprime/__pycache__/binning.cpython-39.pyc
galprime/__pycache__/config.cpython-39.pyc
galprime/__pycache__/data.cpython-39.pyc
galprime/__pycache__/extraction.cpython-39.pyc
galprime/__pycache__/GalPrimeContainer.cpython-39.pyc
galprime/__pycache__/koe.cpython-39.pyc
galprime/__pycache__/masking.cpython-39.pyc
galprime/__pycache__/medians.cpython-39.pyc
galprime/__pycache__/modelling.cpython-39.pyc
galprime/__pycache__/profiles.cpython-39.pyc
galprime/__pycache__/sims.cpython-39.pyc
older/data.py
older/densities.py
older/extraction.py
older/masking.py
older/medians.py
older/modelling.py
older/profiles.py
older/sims.py
older/__pycache__/backgrounds.cpython-38.pyc
older/__pycache__/backgrounds.cpython-39.pyc
older/__pycache__/data.cpython-38.pyc
out_sim/.DS_Store
dist/galprime-2.0.4.tar.gz
galprime.egg-info/PKG-INFO
galprime.egg-info/SOURCES.txt
galprime.egg-info/PKG-INFO
galprime.egg-info/SOURCES.txt
out_sim/
out_sim_test/
notebooks/
galprime/plotting/__pycache__/
galprime_sims.ipynb
dask-worker-space/global.lock
dask-worker-space/purge.lock
galprime/plotting/__pycache__/single_bin_plots.cpython-39.pyc
wacky_simmies/
galprime.egg-info/
dist/