# Ignore compiled files
*.class
*.o
*.pyc

# Ignore build output directories
build/
dist/
target/
galprime.egg-info

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency directories
node_modules/
vendor/

# Ignore log files
*.log

# Ignore sensitive or personal information
config.ini
secrets.txt

galprime-old/
deprecated
pdata

notebooks/figures
notebooks/temp
notebooks/*.gprime
notebooks/gprime_out
notebooks/gprime_out_diskbulge
notebooks/gprime_sims
notebooks/gprime_primary
notebooks/gprime_bgsub
dev-token

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

paper/
paper/plots

*.pdf

# Ignore linting and codecov outputs
*.ruff
*.coverage

docs/_build/latex